__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.so
*.orig
*.o
*.pth
*.npy
*.ipynb
*.pyc
*.pyd
*.egg-info
*.dump
*.mp4
*.log
*.obj
*.pth
*.pkl
*.ply
.DS_Store

data/
logs/
output/
result/
eval/
build/
lib/utils/tmp/
